<!DOCTYPE html>
<html lang="pt-br">

<head>

    <%- include('include/meta-opts.html'); %>

    <title>Logus</title>

    <!-- Vendor CSS -->
    <%- include('include/vendor-css.html'); %>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,700,900" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="/assets/css/theme.css" rel="stylesheet" />
    <link href="/assets/css/home.css" rel="stylesheet" />

</head>

<body id="page-top">

    <%- include('partial/header.html'); %>

    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-xs-12" align="center">
                    <h2>O que é a Logus?</h2>
                    <p>A Logus é uma plataforma que disponibiliza conteúdo sobre desenvolvimento web por meio de posts, apostilas, quizzes e vídeos.</p>
                </div>
            </div>
        </div>
    </section>

    <%- include('partial/footer.html'); %>

    <!-- Vendor JS -->
    <%- include('include/vendor-js.html'); %>

</body>

</html>