<!DOCTYPE html>
<html lang="pt-br">

<head>

    <%- include('include/meta-opts.html'); %>

    <title><%= data.title %> | Logus</title>

    <!-- Vendor CSS -->
    <%- include('include/vendor-css.html'); %>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="/assets/css/theme.css" rel="stylesheet" />
    <link href="/assets/css/posts.css" rel="stylesheet" />

</head>

<body id="page-top">

    <div class="container" id="main-container">
        <div class="row">

            <div class="col-md-8 col-md-offset-2 col-xs-12">

                <ul id="posts-list">
                    
                    <% for (let i = 0; i < data.posts.length; i++) { %>
                        <% let p = data.posts[i]; %>
                        <li class="post-item">
                            <a href="?id=<%= i %>">
                                <div class="post-card">
                                    <img src="<%= p.img %>" class="post-card-background">
                                    <div class="post-card-desc">
                                        <span><%= p.title %></span>
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <span class="text-muted meta-info"><i class="fa fa-eye fa=fw"></i> <%= p.views %></span>
                                            </div>
                                            <div class="col-xs-6">
                                                <span class="text-muted meta-info"><i class="fa fa-clock-o fa=fw"></i> <%= p.timestamp %></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                    <% } %>

                </ul>

            </div>

        </div>
    </div>

    <!-- Include Footer -->
    
    <!-- Vendor JS -->
    <%- include('include/vendor-js.html'); %>

</body>

</html>